.home-container {
    /* background-color: #f4f4f4; */
}

.home-style {
    display: flex;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 1px solid #f2ecec;
    /* padding-left: 3rem; */
    padding-top: 3rem;
}



.navbar-item {
    font-size: 16px;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.home-info-container {

    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    height: 40rem;

}

.home-info-section {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ccc;


    h2,
    p {
        width: 100%;
        text-align: center;
    }
}